   
      <ul
      class="navbar-nav  sidebar sidebar-dark accordion"
      id="accordionSidebar"
     
    >
      <!-- Sidebar - Brand -->
      <a
        class="sidebar-brand d-flex align-items-center justify-content-center"
        href="/"
      >
        <div class="sidebar-brand-icon ">
            <img src="/images/logs.PNG" width="80%" />
         
        </div>
      </a>
      <hr class="sidebar-divider my-0" />

      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a
        >
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/mining">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Mining</span></a
        >
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/runningPlans">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span> Running plans </span></a
        >
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/withdrawal">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Withdraw</span></a
        >
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/history">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>History</span></a
        >
      </li>
      
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Share funds</span></a
        >
      </li> -->

      <hr class="sidebar-divider" />

      <div class="sidebar-heading">MORE</div>

      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Home</span></a
        >
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" href="/#contact">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Support</span></a
        >
      </li>
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Account</span></a
        >
      </li> -->
      <li class="nav-item active">
        <a class="nav-link" href="/setting">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Settings</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/features">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Features</span></a
        >
      </li>
      
      
      
      <li class="nav-item active">
        <a class="nav-link" href="/logout">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Logout</span></a
        >
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block" />

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

     
    </ul>
