   <script src="/js/jquery.bundle.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/charts.js"></script>
    <script src="/js/sweetalert.js"></script>

    <script></script>
  </body>
</html>