<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title>Home | tradingHood.co</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1"
    />
    <meta name="robots" content="index, follow" />
    <meta name="apple-mobile-web-app-title" content="Blockchain" />
    <meta name="application-name" content="Blockchain" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="description" content="TradingHood is at your service with its user-friendly features, secure infrastructure and applications that make a difference."
    />
    <link rel="shortcut icon" href="images/Favicon_main.JPG" />
    <link rel="apple-touch-icon" href="images/logs.PNG" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="images/logs.PNG"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="images/logs.PNG"
    />
    <link rel="stylesheet" href="/css/vendor.bundle.css" />
    <link rel="stylesheet" href="/css/style-lobelia.css" id="changeTheme" />

    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/password.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/styles.min.css" />
    <link rel="stylesheet" href="/css/sweetalert.css" type="text/css" />
    <script src="https://use.fontawesome.com/e281e58f67.js"></script>
  <script src="https://kit.fontawesome.com/94a9a25c09.js" crossorigin="anonymous"></script>
  <!-- fontawesome added by ekene.... -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  </head>