<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <title>Home | Blockchain.com</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1"
    />
    <meta name="robots" content="index, follow" />
    <meta name="apple-mobile-web-app-title" content="Blockchain" />
    <meta name="application-name" content="Blockchain" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="description"
      content="Blockchain is at your service with its user-friendly features, secure infrastructure and applications that make a difference."
    />
    <link rel="shortcut icon" href="images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="images/apple-touch-icon.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="images/apple-touch-icon.png"
    />
    <link rel="stylesheet" href="css/vendor.bundle.css" />
    <link rel="stylesheet" href="css/style-lobelia.css" id="changeTheme" />

    <link rel="stylesheet" href="css/theme.css" />
    <link rel="stylesheet" href="css/styles.min.css" />
    <link rel="stylesheet" href="css/sweetalert.css" type="text/css" />
    <script src="https://use.fontawesome.com/e281e58f67.js"></script>
  <script src="https://kit.fontawesome.com/94a9a25c09.js" crossorigin="anonymous"></script>
	
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  </head>