<%-include ('partials/header.ejs') %> 

  <body class="nk-body body-wider mode-onepage bg-light" style="background-color: #121d33 !important">
    <div class="nk-wrap">
     
    <%-include ('partials/heads.ejs') %> 

      <main class="nk-pages">
        <div class="header-banner bg-theme-grad" >
          <div class="nk-banner" style=" background-size: cover; background-color: #121d33; ">
            <div class="banner banner-fs banner-pd-lg">
              <div
                class="banner-wrap"
                style="
                  background-color: #121d33;
                  
                  
                "
              >
                <div class="container">
                  <div
                    class="row gutter-vr-30px align-items-center justify-content-lg-between justify-content-center"
                  >
                    <div class="col text-center text-lg-left">
                      <div class="banner-caption cpn tc-light">
                        <div class="cpn-head" style="text-align: center;">
                          <h1
                            class="title title-md animated"
                            data-animate="fadeInUp"
                            data-delay="1.1"
                          >
                          Relentlessly building the future of finance since 2011
                          </h1>
                        </div>
                        <div class="cpn-text cpn-text-light" style="text-align: center;">
                          <p
                            class="lead animated"
                            data-animate="fadeInUp"
                            data-delay="1.2"
                          >
                          The world’s leading crypto finance house serving people, projects, protocols and institutions since 2011.
                          </p>
                        </div>
                        <div class="cpn-action mt-0">
                          <div
                            class="cpn-btns pt-4 animated"
                            data-animate="fadeInUp"
                            data-delay="1.3"
                            style="text-align: center"
                          >
                            <ul class="btn-grp" style="text-align: center">
                              <li>
                                <a
                                  href="/register"
                                  class="btn btn-primary btn-md"
                                  >Get Started</a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nk-ovm mask-f mask-contain-bottom shape-a2"></div>
        </div>

        <section class="section pdt-0 ov-v"  >
          <div class="ui-mask-left ui-mask-s9"></div>
          <div class="container">
            <div class="nk-block nk-block-text-wrap">
              <div
                class="row align-items-center gutter-vr-30px justify-content-between gutter-vr-30px"
              >
                <div class="col-lg-5 col-mb-9 m-auto order-first order-lg-last">
                  <div
                    class="nk-block-img animated"
                    data-animate="fadeInUp"
                    data-delay=".3"
                  >
                    <img src="images/about.png" alt="app" />
                  </div>
                </div>
                <div class="col-lg-7">
                 
                  <div
                    class="nk-block-text animated"
                    data-animate="fadeInUp"
                    data-delay=".2"
                    style="margin-top: 20px;"
                  >
                    <div class="nk-block-shade"></div>
                    <h3 class="" style="color: white;">
                        About Blockchain.com
                    </h3>
                    <p style="color: white;">
                        We believe we cannot get the big things right if we don't get the little things right first.
                        Sometimes that makes things harder. Luckily, we're ok with hard.
                    </p>
    
                  </div>



                
                  
                </div>
              </div>
              <!-- .row -->
            </div>
            <!-- .block @e  -->
          </div>
        </section>


     

        <footer class="nk-footer ov-h">
          <section
            class="section tc-light animated"
            data-animate="fadeInUp"
            data-delay=".2"
          >
            <div class="container">
              <div class="nk-block">
                <div
                  class="gutter-vr-15px px row justify-content-between align-items-center text-center text-sm-left"
                >
                  <div class="col-lg-4">
                    <ul class="social justify-content-center ml-n2">
                      <li>
                        <a hrefss="#"
                          ><i
                            class="social-icon social-icon-transparent fab fa-instagram"
                          ></i
                        ></a>
                      </li>
                      <li>
                        <a hrefss="#"
                          ><i
                            class="social-icon social-icon-transparent fab fa-twitter"
                          ></i
                        ></a>
                      </li>
                      <li>
                        <a hrefss="#"
                          ><i
                            class="social-icon social-icon-transparent fab fa-whatsapp"
                          ></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-5 col-sm-8">
                    <div class="copyright-text copyright-text-s4">
                      <p style="color: white">
                        &copy; Blockchain.com. NMLS ID: 2024031.
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-4 text-sm-right text-black">
                    <ul class="footer-links" style="color: black">
                      <li style="color: black">
                        <a href="#" style="color: black; text-decoration: none"
                          >Privacy &amp; Policy</a
                        >
                      </li>
                      <li style="color: black">
                        <a href="#" style="color: black"
                          >Terms &amp; Conditions</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </footer>
      </main>
    </div>

 <%-include ('partials/footer.ejs') %> 