<%-include ('partials/header.ejs') %> 

  <body class="nk-body body-wider mode-onepage bg-light">
    <div class="nk-wrap">
   <%-include ('partials/heads.ejs') %> 

      <main class="nk-pages">
        <div class="header-banner bg-theme-grad">
          <div class="nk-banner" style="background-size: cover; background-color: #121d33; ">
            <div class="banner banner-fs banner-pd-lg">
              <div
                class="banner-wrap"
                style="
                  background-color: #121d33;
                  
                  
                "
              >
                <div class="container">
                  <div
                    class="row gutter-vr-30px align-items-center justify-content-lg-between justify-content-center"
                  >
               
                    <div class="col text-center text-lg-left">
                      <div class="banner-caption cpn tc-light">
                        <div class="cpn-head" style="text-align: center;">
                          <h1
                            class="title title-md animated"
                            data-animate="fadeInUp"
                            data-delay="1.1"
                          >
                          The world's most trusted crypto-currency mining company
                          </h1>
                        </div>
                        <div class="cpn-text cpn-text-light" style="text-align: center;">
                          <p
                            class="lead animated"
                            data-animate="fadeInUp"
                            data-delay="1.2"
                          >
                            A completely unique approach focused on delivering exceptional results
                          </p>
                        </div>
                        <div class="cpn-action mt-0">
                          <div
                            class="cpn-btns pt-4 animated"
                            data-animate="fadeInUp"
                            data-delay="1.3"
                            style="text-align: center"
                          >
                            <ul class="btn-grp" style="text-align: center">
                              <li>
                                <a
                                  href="/register"
                                  class="btn btn-primary btn-md"
                                  >Get Started</a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nk-ovm mask-f mask-contain-bottom shape-a2"></div>
        </div>

       

       

        <section
          class="section bg-themes"
          id="faqs"
          style="
            background-color: #121d33;
            
            background-position-y: top;
          "
        >
          <div class="container">
            <div class="nk-block tc-light">
              <div class="row">
                <div class="col-md-4 col-lg-3 mb-4 mb-lg-0">
                  <ul class="nav tab-nav tab-nav-vr tab-nav-bdr mr-lg-3">
                    <li>
                      <a class="active" data-toggle="tab" href="#xss2"
                        ><em class="fas fa-caret-right"></em>General questions</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="col-md-8 col-lg-9">
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="xss2">
                      <div class="accordion accordion-faq" id="bb2">
                        <div class="accordion-item">
                          <h5
                            class="accordion-title accordion-title-sm"
                            data-toggle="collapse"
                            data-target="#dd43"
                          >
                          What is blockchain mining ?
                            <span class="accordion-icon"></span>
                          </h5>
                          <div
                            id="dd43"
                            class="collapse show"
                            data-parent="#bb2"
                          >
                            <div class="accordion-content">
                              <p></p>
                              <p>

                                Blockchain Mining is a Cryptocurrency cloud mining service
                                 that offers an easy and safe way to invest and earn crypto 
                                 without having to deal with complex hardware and software 
                                 setup. We offer hosted cryptocurrency mining services and 
                                 a variety of mining related solutions to small and large
                                  scale customers. The combination of our algorithmic trading
                                   framework, mining infrastructure, and proprietary mining
                                    farm-management software, quickly made us an industry
                                     leader.Our team of mining experts with extensive
                                      knowledge of the digital currency sector specializes 
                                      in building the most efficient and reliable mining 
                                      facilities.
                              </p>
                              <p></p>
                            </div>
                          </div>
                        </div>

                        <div class="accordion-item">
                          <h5
                            class="accordion-title accordion-title-sm collapsed"
                            data-toggle="collapse"
                            data-target="#dd46"
                          >
                          How it works
                            <span class="accordion-icon"></span>
                          </h5>
                          <div id="dd46" class="collapse" data-parent="#bb2">
                            <div class="accordion-content">
                              <p></p>
                              <p>
                                It’s quick and very easy! As soon as you choose 
                                your preferred plan and make payment, your contract 
                                and mining status is updated. You immediately start mining.
                                 The first mining profit is received after 24 hours, and then 
                                 a daily mining profit input follows for the duration of your plan.
                              </p>
                              
                              <p></p>
                            </div>
                          </div>
                        </div>
                        
                        
                        <div class="accordion-item">
                          <h5
                            class="accordion-title accordion-title-sm collapsed"
                            data-toggle="collapse"
                            data-target="#dd467"
                          >
                          Are there any charges ?

                            <span class="accordion-icon"></span>
                          </h5>
                          <div id="dd467" class="collapse" data-parent="#bb2">
                            <div class="accordion-content">
                              <p></p>
                              <p>
                                The mining process requires energy consumption and human resources 
                                for maintenance. In order to cover these fees all users are issued
                                 with maintenance and electricity fees (MEF) according to their
                                  contract type and hashrate. 
                              </p>
                              
                              <p>
                                Maintenance and electricity fees are not billed in an invoice. 
                                Instead the fees are deducted from the customer's balance at the 
                                end of each mining session 
                                 <small>Note: Ethereum contracts are not subject to any fees. </small>
                              </p>
                              
                              <p></p>
                            </div>
                          </div>
                        </div>



                        <div class="accordion-item">
                            <h5
                              class="accordion-title accordion-title-sm collapsed"
                              data-toggle="collapse"
                              data-target="#dd468"
                            >
                            What is the mining performance ? 
                              <span class="accordion-icon"></span>
                            </h5>
                            <div id="dd468" class="collapse" data-parent="#bb2">
                              <div class="accordion-content">
                                <p></p>
                                <p>
                                    Our AI developed algorithm was designed and produced
                                     for maximum efficiency. It specifically fits our need
                                      for easy handling, fast deployment and effective
                                       maintenance. 
                                </p>
                                
                                <p></p>
                              </div>
                            </div>
                          </div>
                        
                        
                          <div class="accordion-item">
                            <h5
                              class="accordion-title accordion-title-sm collapsed"
                              data-toggle="collapse"
                              data-target="#dc0012"
                            >
                            Why are you not mining yourself ? 
                              <span class="accordion-icon"></span>
                            </h5>
                            <div id="dc0012" class="collapse" data-parent="#bb2">
                              <div class="accordion-content">
                                <p></p>
                                <p>
                                    Besides the fact that we ourselves mine with the very
                                     same hardware that we offer to our clients, our
                                      capital is limited. We believe that Bitcoin and
                                       Altcoin mining is one of the best ways to receive 
                                       Cryptocurrencies, however, we do not want to
                                        “put all our eggs in one basket”.
                                        Please refer to section “Are there any charges” 
                                </p>
                                
                                <p></p>
                              </div>
                            </div>
                          </div>
                         
                         
                          <div class="accordion-item">
                            <h5
                              class="accordion-title accordion-title-sm collapsed"
                              data-toggle="collapse"
                              data-target="#ops00134"
                            >
                            What coins are available for mining ?
                              <span class="accordion-icon"></span>
                            </h5>
                            <div id="ops00134" class="collapse" data-parent="#bb2">
                              <div class="accordion-content">
                                <p></p>
                                <p>
                                    Bitcoin  and    Ethereum
                                </p>
                                
                                <p></p>
                              </div>
                            </div>
                          </div>



                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

       

        <footer class="nk-footer ov-h" style="background-color: #121d33;
        background-image: url(images/hero-gradient.svg);">
          <section
            class="section tc-light animated"
            data-animate="fadeInUp"
            data-delay=".2"
          >
            <div class="container">
              <div class="nk-block">
                <div
                  class="gutter-vr-15px px row justify-content-between align-items-center text-center text-sm-left"
                >
                  <div class="col-lg-4">
                    <ul class="social justify-content-center ml-n2">
                      <li>
                        <a hrefss="#"
                          ><i
                            class="social-icon social-icon-transparent fab fa-instagram"
                          ></i
                        ></a>
                      </li>
                      <li>
                        <a hrefss="#"
                          ><i
                            class="social-icon social-icon-transparent fab fa-twitter"
                          ></i
                        ></a>
                      </li>
                      <li>
                        <a hrefss="#"
                          ><i
                            class="social-icon social-icon-transparent fab fa-whatsapp"
                          ></i
                        ></a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-5 col-sm-8">
                    <div class="copyright-text copyright-text-s4">
                      <p style="color: white">
                        &copy; Blockchain.com. NMLS ID: 2024031.
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-4 text-sm-right text-black">
                    <ul class="footer-links" style="color: black">
                      <li style="color: black">
                        <a href="#" style="color: black; text-decoration: none"
                          >Privacy &amp; Policy</a
                        >
                      </li>
                      <li style="color: black">
                        <a href="#" style="color: black"
                          >Terms &amp; Conditions</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </footer>
      </main>
    </div>

   
<%-include ('partials/footer.ejs') %> 
