<!doctype html>
<html class="no-js" lang="en">
    <head>
        
        <title>Privacy policy | poolinchain</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
        <meta name="robots" content="index, follow">
        <meta name="apple-mobile-web-app-title" content="poolinchain">
        <meta name="application-name" content="poolinchain">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="description" content="Poolinchain is at your service with its user-friendly features, secure infrastructure and applications that make a difference.">
        <link rel="shortcut icon" href="https://poolinchain.com/asset/images/favicon_1611048965.jpg">
        <link rel="apple-touch-icon" href="https://poolinchain.com/asset/images/favicon_1611048965.jpg">
        <link rel="apple-touch-icon" sizes="72x72" href="https://poolinchain.com/asset/images/favicon_1611048965.jpg">
        <link rel="apple-touch-icon" sizes="114x114" href="https://poolinchain.com/asset/images/favicon_1611048965.jpg">
        <link rel="stylesheet" href="https://poolinchain.com/asset/front/css/vendor.bundle.css?ver=192">
        <link rel="stylesheet" href="https://poolinchain.com/asset/front/css/style-lobelia.css?ver=192" id="changeTheme">
        <!-- Extra CSS -->
        <link rel="stylesheet" href="https://poolinchain.com/asset/front/css/theme.css?ver=192">
        <link rel="stylesheet" href="https://poolinchain.com/asset/global_assets/css/icons/fontawesome/styles.min.css">
        <link rel="stylesheet" href="https://poolinchain.com/asset/css/sweetalert.css" type="text/css">
         
    </head>
<!-- header begin-->
<body class="nk-body body-wider mode-onepage bg-light">

<div class="nk-wrap">
    <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
        <!-- Header @s  -->
        <div class="header-main">
            <div class="header-container container">
                <div class="header-wrap">
                    <!-- Logo @s  -->
                    <div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
                        <a href="https://poolinchain.com" class="logo-link">
                            <img class="logo-dark" src="https://poolinchain.com/asset/images/logo_1611048952.png" srcset="https://poolinchain.com/asset/images/logo_1611048952.png" alt="logo">
                            <img class="logo-light" src="https://poolinchain.com/asset/images/logo_1611048952.png" srcset="https://poolinchain.com/asset/images/logo_1611048952.png" alt="logo">
                        </a>
                    </div>

                    <!-- Menu Toogle @s  -->
                    <div class="header-nav-toggle">
                        <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                            <div class="toggle-line">
                                <span></span>
                            </div>
                        </a>
                    </div>

                    <!-- Menu @s  -->
                    <div class="header-navbar animated" data-animate="fadeInDown" data-delay=".75">
                        <nav class="header-menu" id="header-menu">
                            <ul class="menu">
                                <li class="menu-item">
                                    <a class="menu-link nav-link" href="https://poolinchain.com">Home</a>
                                </li>
                                <li class="menu-item has-sub">
                                    <a class="menu-link nav-link menu-toggle" href="#">Blog</a>
                                    <ul class="menu-sub menu-drop">
                                                                                    <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/cat/2/1">Inspiration</a></li>
                                                                                    <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/cat/3/1">Company</a></li>
                                                                                    <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/cat/4/1">Engineering</a></li>
                                                                            </ul>
                                </li>                                
                                <li class="menu-item has-sub">
                                    <a class="menu-link nav-link menu-toggle" href="#">Help</a>
                                    <ul class="menu-sub menu-drop">
                                        <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com#faq">FAQs</a></li>
                                        <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/blog">Supporting articles</a></li>
                                        <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/terms">Terms & Conditions</a></li>
                                        <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/privacy">Privacy policy</a></li>
                                        <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com#contact">Contact us</a></li>
                                    </ul>
                                </li>                                
                                <li class="menu-item has-sub">
                                    <a class="menu-link nav-link menu-toggle" href="#">More</a>
                                    <ul class="menu-sub menu-drop">
                                                                                                                                    <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/page/4">AML Policy</a></li>
                                                                                                                                                                                <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/page/6">Diversity</a></li>
                                                                                                                                                                                <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/page/7">Sponsoring</a></li>
                                                                                                                        </ul>
                                </li>
                                <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/about">About us</a></li>
                                <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/login">Login</a></li>
                            </ul>
                            <ul class="menu-btns">
                                <li><a href="https://poolinchain.com/register" class="btn btn-md btn-auto btn-primary no-change"><span>Sign Up</span></a></li>
                            </ul>
                            </nav>
                    </div><!-- .header-navbar @e  -->
                </div>                                                
            </div>
        </div><!-- .header-main @e  -->

        <!-- Banner @s  -->
        <!-- .header-banner @e  -->
    </header>
    <main class="nk-pages">
<div class="header-banner bg-theme-grad">
    <div class="nk-banner">
        <div class="banner banner-page">
            <div class="banner-wrap">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-9">
                            <div class="banner-caption cpn tc-light text-center">
                                <div class="cpn-head">
                                    <h2 class="title ttu">Privacy policy</h2>
                                    <p>Poolinchain has already secured over 30 partnerships worldwide, with more partnerships being finalized each day.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .nk-banner -->
    <div class="nk-ovm shape-a-sm"></div>
</div>
<section class="section bg-light section-about">
    <div class="container">
        
        <!-- Block @s  -->
        <div class="nk-block">
            <div class="row gutter-vr-30px align-items-center">
                <div class="col-lg-12">
                    <div class="nk-block-text">
                    <p>At poolinchain.com, accessible from poolinchain.com, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by poolinchain.com and how we use it.</p>
<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
<h2>Information we collect</h2>
<p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
<p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
<p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>
<h2>How we use your information</h2>
<p>We use the information we collect in various ways, including to:</p>
<ul>
<li>Provide, operate, and maintain our webste</li>
<li>Improve, personalize, and expand our webste</li>
<li>Understand and analyze how you use our webste</li>
<li>Develop new products, services, features, and functionality</li>
<li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the webste, and for marketing and promotional purposes</li>
<li>Send you emails</li>
<li>Find and prevent fraud</li>
</ul>
<h2>Log Files</h2>
<p>poolinchain.com follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>
<h2>Advertising Partners Privacy Policies</h2>
<p>You may consult this list to find the Privacy Policy for each of the advertising partners of poolinchain.com.</p>
<p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on poolinchain.com, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
<p>Note that poolinchain.com has no access to or control over these cookies that are used by third-party advertisers.</p>
<h2>Third Party Privacy Policies</h2>
<p>poolinchain.com's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options.</p>
<p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>
<h2>CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>
<p>Under the CCPA, among other rights, California consumers have the right to:</p>
<p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
<p>Request that a business delete any personal data about the consumer that a business has collected.</p>
<p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>
<h2>GDPR Data Protection Rights</h2>
<p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<p>The right to access &ndash; You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
<p>The right to rectification &ndash; You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
<p>The right to erasure &ndash; You have the right to request that we erase your personal data, under certain conditions.</p>
<p>The right to restrict processing &ndash; You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
<p>The right to object to processing &ndash; You have the right to object to our processing of your personal data, under certain conditions.</p>
<p>The right to data portability &ndash; You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>
<h2>Children's Information</h2>
<p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
<p>poolinchain.com does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
                    </div>
                </div>
            </div>
        </div><!-- .nk-block @e  -->
    </div>
</section>
<footer class="nk-footer bg-theme-grad ov-h">
    <section class="section section-t-xl tc-light pdb-0 animated" data-animate="fadeInUp" data-delay=".1">
        <div class="container">
            <!-- Block @s  -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 col-mb-9">
                        <div class="section-head section-head-sm wide-auto-sm text-center">
                            <h4 class="title">Subscribe to Us</h4>
                            <p>If you want to get update news please subscribe to us.</p>
                        </div>
                        <form action="https://poolinchain.com/subscribe" method="post">
                            <input type="hidden" name="_token" value="uXeW3yqxpuFjuOPq1DLIyTLKCPsMbVHSXDNj3xsC">                            <div class="field-inline field-split bg-white shadow-soft">
                                <div class="field-wrap d-flex align-items-center">
                                    <label class="label-inline mb-0 d-none d-sm-block"><i class="mt-1 icon fas fa-envelope"></i></label>
                                    <input class="input-solid input-solid-lg required email" type="email" name="email" placeholder="Enter your email">
                                </div>
                                <div class="submit-wrap">
                                    <button class="btn btn-primary">Subscribe</button>
                                </div>
                            </div>
                            <div class="form-results"></div>
                        </form>
                    </div>
                </div>
            </div><!-- .block @e  -->
        </div>
    </section>
    <section class="section tc-light animated" data-animate="fadeInUp" data-delay=".2">
        <div class="container">
            <div class="nk-block">
                <div class="gutter-vr-15px px row justify-content-between align-items-center text-center text-sm-left">
                    <div class="col-lg-4">
                        <ul class="social justify-content-center ml-n2">
                                                                                                                                                            <li><a href="https://instagram.com/"><i class="social-icon social-icon-transparent fab fa-instagram"></i></a></li>
                                                                                                                                <li><a href="https://twitter.com/"><i class="social-icon social-icon-transparent fab fa-twitter"></i></a></li>
                                                                                                                                                                                                                                                                                                                                                                                <li><a href="https://whatsapp.com/"><i class="social-icon social-icon-transparent fab fa-whatsapp"></i></a></li>
                                                             
                        </ul>
                    </div>
                    <div class="col-lg-5 col-sm-8">
                        <div class="copyright-text copyright-text-s4">
                            <p>poolinchain  &copy; 2021. All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 text-sm-right">
                        <ul class="footer-links">
                            <li><a href="https://poolinchain.com/privacy">Privacy &amp; Policy</a></li>
                            <li><a href="https://poolinchain.com/terms">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</footer>
</main></div>
<div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand" src="https://poolinchain.com/asset/images/logo_1611048952.png" alt></span></div>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5ff5e9a3c31c9117cb6c128d/1erc9haki';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
    <!-- Dependency Scripts -->
    <script src="https://poolinchain.com/asset/front/js/jquery.bundle.js?ver=192"></script>
	<script src="https://poolinchain.com/asset/front/js/scripts.js?ver=192"></script>
	<script src="https://poolinchain.com/asset/front/js/charts.js"></script>
    <script src="https://poolinchain.com/asset/js/sweetalert.js"></script>

    
<script>
            </script>


</body>

</html>