<!doctype html>
<html class="no-js" lang="en">
    <head>
        
        <title>Terms &amp; conditions | poolinchain</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1">
        <meta name="robots" content="index, follow">
        <meta name="apple-mobile-web-app-title" content="poolinchain">
        <meta name="application-name" content="poolinchain">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="description" content="Poolinchain is at your service with its user-friendly features, secure infrastructure and applications that make a difference.">
        <link rel="shortcut icon" href="https://poolinchain.com/asset/images/favicon_1611048965.jpg">
        <link rel="apple-touch-icon" href="https://poolinchain.com/asset/images/favicon_1611048965.jpg">
        <link rel="apple-touch-icon" sizes="72x72" href="https://poolinchain.com/asset/images/favicon_1611048965.jpg">
        <link rel="apple-touch-icon" sizes="114x114" href="https://poolinchain.com/asset/images/favicon_1611048965.jpg">
        <link rel="stylesheet" href="https://poolinchain.com/asset/front/css/vendor.bundle.css?ver=192">
        <link rel="stylesheet" href="https://poolinchain.com/asset/front/css/style-lobelia.css?ver=192" id="changeTheme">
        <!-- Extra CSS -->
        <link rel="stylesheet" href="https://poolinchain.com/asset/front/css/theme.css?ver=192">
        <link rel="stylesheet" href="https://poolinchain.com/asset/global_assets/css/icons/fontawesome/styles.min.css">
        <link rel="stylesheet" href="https://poolinchain.com/asset/css/sweetalert.css" type="text/css">
         
    </head>
<!-- header begin-->
<body class="nk-body body-wider mode-onepage bg-light">

<div class="nk-wrap">
    <header class="nk-header page-header is-transparent is-sticky is-shrink" id="header">
        <!-- Header @s  -->
        <div class="header-main">
            <div class="header-container container">
                <div class="header-wrap">
                    <!-- Logo @s  -->
                    <div class="header-logo logo animated" data-animate="fadeInDown" data-delay=".6">
                        <a href="https://poolinchain.com" class="logo-link">
                            <img class="logo-dark" src="https://poolinchain.com/asset/images/logo_1611048952.png" srcset="https://poolinchain.com/asset/images/logo_1611048952.png" alt="logo">
                            <img class="logo-light" src="https://poolinchain.com/asset/images/logo_1611048952.png" srcset="https://poolinchain.com/asset/images/logo_1611048952.png" alt="logo">
                        </a>
                    </div>

                    <!-- Menu Toogle @s  -->
                    <div class="header-nav-toggle">
                        <a href="#" class="navbar-toggle" data-menu-toggle="header-menu">
                            <div class="toggle-line">
                                <span></span>
                            </div>
                        </a>
                    </div>

                    <!-- Menu @s  -->
                    <div class="header-navbar animated" data-animate="fadeInDown" data-delay=".75">
                        <nav class="header-menu" id="header-menu">
                            <ul class="menu">
                                <li class="menu-item">
                                    <a class="menu-link nav-link" href="https://poolinchain.com">Home</a>
                                </li>
                                <li class="menu-item has-sub">
                                    <a class="menu-link nav-link menu-toggle" href="#">Blog</a>
                                    <ul class="menu-sub menu-drop">
                                                                                    <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/cat/2/1">Inspiration</a></li>
                                                                                    <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/cat/3/1">Company</a></li>
                                                                                    <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/cat/4/1">Engineering</a></li>
                                                                            </ul>
                                </li>                                
                                <li class="menu-item has-sub">
                                    <a class="menu-link nav-link menu-toggle" href="#">Help</a>
                                    <ul class="menu-sub menu-drop">
                                        <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com#faq">FAQs</a></li>
                                        <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/blog">Supporting articles</a></li>
                                        <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/terms">Terms & Conditions</a></li>
                                        <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/privacy">Privacy policy</a></li>
                                        <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com#contact">Contact us</a></li>
                                    </ul>
                                </li>                                
                                <li class="menu-item has-sub">
                                    <a class="menu-link nav-link menu-toggle" href="#">More</a>
                                    <ul class="menu-sub menu-drop">
                                                                                                                                    <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/page/4">AML Policy</a></li>
                                                                                                                                                                                <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/page/6">Diversity</a></li>
                                                                                                                                                                                <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/page/7">Sponsoring</a></li>
                                                                                                                        </ul>
                                </li>
                                <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/about">About us</a></li>
                                <li class="menu-item"><a class="menu-link nav-link" href="https://poolinchain.com/login">Login</a></li>
                            </ul>
                            <ul class="menu-btns">
                                <li><a href="https://poolinchain.com/register" class="btn btn-md btn-auto btn-primary no-change"><span>Sign Up</span></a></li>
                            </ul>
                            </nav>
                    </div><!-- .header-navbar @e  -->
                </div>                                                
            </div>
        </div><!-- .header-main @e  -->

        <!-- Banner @s  -->
        <!-- .header-banner @e  -->
    </header>
    <main class="nk-pages">
<div class="header-banner bg-theme-grad">
    <div class="nk-banner">
        <div class="banner banner-page">
            <div class="banner-wrap">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-9">
                            <div class="banner-caption cpn tc-light text-center">
                                <div class="cpn-head">
                                    <h2 class="title ttu">Terms & conditions</h2>
                                    <p>Poolinchain has already secured over 30 partnerships worldwide, with more partnerships being finalized each day.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .nk-banner -->
    <div class="nk-ovm shape-a-sm"></div>
</div>
<section class="section bg-light section-about">
    <div class="container">
        
        <!-- Block @s  -->
        <div class="nk-block">
            <div class="row gutter-vr-30px align-items-center">
                <div class="col-lg-12">
                    <div class="nk-block-text">
                    <p>Welcome to poolinchain.com!</p>
<p>These terms and conditions outline the rules and regulations for the use of poolinchain's Website,&nbsp;</p>
<p>By accessing this website we assume you accept these terms and conditions. Do not continue to use poolinchain.com if you do not agree to take all of the terms and conditions stated on this page.</p>
<p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company&rsquo;s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client&rsquo;s needs in respect of provision of the Company&rsquo;s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</p>
<h3><strong>Cookies</strong></h3>
<p>We employ the use of cookies. By accessing poolinchain.com, you agreed to use cookies in agreement with the poolinchain's Privacy Policy.</p>
<p>Most interactive websites use cookies to let us retrieve the user&rsquo;s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>
<h3><strong>License</strong></h3>
<p>Unless otherwise stated, poolinchain and/or its licensors own the intellectual property rights for all material on poolinchain.com. All intellectual property rights are reserved. You may access this from poolinchain.com for your own personal use subjected to restrictions set in these terms and conditions.</p>
<p>You must not:</p>
<ul>
<li>Republish material from poolinchain.com</li>
<li>Sell, rent or sub-license material from poolinchain.com</li>
<li>Reproduce, duplicate or copy material from poolinchain.com</li>
<li>Redistribute content from poolinchain.com</li>
</ul>
<p>This Agreement shall begin on the date hereof. Our Terms and Conditions were created with the help of the <a href="https://www.termsandconditionsgenerator.com">Terms And Conditions Generator</a> and the <a href="https://www.generateprivacypolicy.com">Privacy Policy Generator</a>.</p>
<p>Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. poolinchain does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of poolinchain,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, poolinchain shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</p>
<p>poolinchain reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>
<p>You warrant and represent that:</p>
<ul>
<li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
<li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
<li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy</li>
<li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
</ul>
<p>You hereby grant poolinchain a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>
<h3><strong>Hyperlinking to our Content</strong></h3>
<p>The following organizations may link to our Website without prior written approval:</p>
<ul>
<li>Government agencies;</li>
<li>Search engines;</li>
<li>News organizations;</li>
<li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and</li>
<li>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</li>
</ul>
<p>These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party&rsquo;s site.</p>
<p>We may consider and approve other link requests from the following types of organizations:</p>
<ul>
<li>commonly-known consumer and/or business information sources;</li>
<li>dot.com community sites;</li>
<li>associations or other groups representing charities;</li>
<li>online directory distributors;</li>
<li>internet portals;</li>
<li>accounting, law and consulting firms; and</li>
<li>educational institutions and trade associations.</li>
</ul>
<p>We will approve link requests from these organizations if we decide that: (a) the link would not make us look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence of poolinchain; and (d) the link is in the context of general resource information.</p>
<p>These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party&rsquo;s site.</p>
<p>If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to poolinchain. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.</p>
<p>Approved organizations may hyperlink to our Website as follows:</p>
<ul>
<li>By use of our corporate name; or</li>
<li>By use of the uniform resource locator being linked to; or</li>
<li>By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party&rsquo;s site.</li>
</ul>
<p>No use of poolinchain's logo or other artwork will be allowed for linking absent a trademark license agreement.</p>
<h3><strong>iFrames</strong></h3>
<p>Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>
<h3><strong>Content Liability</strong></h3>
<p>We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>
<h3><strong>Your Privacy</strong></h3>
<p>Please read Privacy Policy</p>
<h3><strong>NOTICE ON PROFIT</strong></h3>
<p>All investors should note this,&nbsp;</p>
<ul>
<li>Whenever there is a upgrade in the mining block / increase in mining hashrate, all active investors would be required to cover up the deference in mining deposit. Failure to would lead to withdrawal restriction.</li>
<li>&nbsp;</li>
<li>Purchasing the ETH Plan would require any investor interested to email our support team or quick chat.</li>
</ul>
<h3>&nbsp;</h3>
<h3><strong>Reservation of Rights</strong></h3>
<p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it&rsquo;s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.</p>
<h3><strong>Removal of links from our website</strong></h3>
<p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.</p>
<p>We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.</p>
<h3><strong>Disclaimer</strong></h3>
<p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p>
<ul>
<li>limit or exclude our or your liability for death or personal injury;</li>
<li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
<li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
<li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
</ul>
<p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.</p>
<p>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
                    </div>
                </div>
            </div>
        </div><!-- .nk-block @e  -->
    </div>
</section>
<footer class="nk-footer bg-theme-grad ov-h">
    <section class="section section-t-xl tc-light pdb-0 animated" data-animate="fadeInUp" data-delay=".1">
        <div class="container">
            <!-- Block @s  -->
            <div class="nk-block">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8 col-mb-9">
                        <div class="section-head section-head-sm wide-auto-sm text-center">
                            <h4 class="title">Subscribe to Us</h4>
                            <p>If you want to get update news please subscribe to us.</p>
                        </div>
                        <form action="https://poolinchain.com/subscribe" method="post">
                            <input type="hidden" name="_token" value="uXeW3yqxpuFjuOPq1DLIyTLKCPsMbVHSXDNj3xsC">                            <div class="field-inline field-split bg-white shadow-soft">
                                <div class="field-wrap d-flex align-items-center">
                                    <label class="label-inline mb-0 d-none d-sm-block"><i class="mt-1 icon fas fa-envelope"></i></label>
                                    <input class="input-solid input-solid-lg required email" type="email" name="email" placeholder="Enter your email">
                                </div>
                                <div class="submit-wrap">
                                    <button class="btn btn-primary">Subscribe</button>
                                </div>
                            </div>
                            <div class="form-results"></div>
                        </form>
                    </div>
                </div>
            </div><!-- .block @e  -->
        </div>
    </section>
    <section class="section tc-light animated" data-animate="fadeInUp" data-delay=".2">
        <div class="container">
            <div class="nk-block">
                <div class="gutter-vr-15px px row justify-content-between align-items-center text-center text-sm-left">
                    <div class="col-lg-4">
                        <ul class="social justify-content-center ml-n2">
                                                                                                                                                            <li><a href="https://instagram.com/"><i class="social-icon social-icon-transparent fab fa-instagram"></i></a></li>
                                                                                                                                <li><a href="https://twitter.com/"><i class="social-icon social-icon-transparent fab fa-twitter"></i></a></li>
                                                                                                                                                                                                                                                                                                                                                                                <li><a href="https://whatsapp.com/"><i class="social-icon social-icon-transparent fab fa-whatsapp"></i></a></li>
                                                             
                        </ul>
                    </div>
                    <div class="col-lg-5 col-sm-8">
                        <div class="copyright-text copyright-text-s4">
                            <p>poolinchain  &copy; 2021. All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 text-sm-right">
                        <ul class="footer-links">
                            <li><a href="https://poolinchain.com/privacy">Privacy &amp; Policy</a></li>
                            <li><a href="https://poolinchain.com/terms">Terms &amp; Conditions</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</footer>
</main></div>
<div class="preloader preloader-alt no-split"><span class="spinner spinner-alt"><img class="spinner-brand" src="https://poolinchain.com/asset/images/logo_1611048952.png" alt></span></div>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5ff5e9a3c31c9117cb6c128d/1erc9haki';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
    <!-- Dependency Scripts -->
    <script src="https://poolinchain.com/asset/front/js/jquery.bundle.js?ver=192"></script>
	<script src="https://poolinchain.com/asset/front/js/scripts.js?ver=192"></script>
	<script src="https://poolinchain.com/asset/front/js/charts.js"></script>
    <script src="https://poolinchain.com/asset/js/sweetalert.js"></script>

    
<script>
            </script>


</body>

</html>