li.passwordbtx {
  color: rgb(231, 58, 58);
  font-size: 13px;
  font-style: italic;
}
li.passwordbtx.lowercase.green,
li.passwordbtx.uppercase.green,
li.passwordbtx.number.green,
li.passwordbtx.special_character.green,
li.passwordbtx.number.green,
li.passwordbtx.length.green {
  color: rgb(79, 185, 79);
}
